if(settings && settings.useMinFiles === false && minFiles)
  each file in minFiles
    script(src='/'+file)
else
  script(src='/javascripts/goes-to.min.js')

script(src='/javascripts/workspace.js')
script(src='/javascripts/angular-input-match.min.js')
